# Ignore Vercel configuration directory
.vercel

# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variable files
.env

# Ignore static files build directory
staticfiles_build/